<header>
<nav class="navbar navbar-expand-lg navbar-light  "style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3003/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  d-flex justify-content-around" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://localhost:3003/operations/table">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="http://localhost:3003/operations/create">Create Operation</a>
          </li>
          
          </ul>
          <div class="dropdown ">
            <% if (locals.userLogged) { %>
            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              ¡Hola <%= userLogged.name %>!
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">              
              <li><a href="http://localhost:3003/logout" class="dropdown-item" >Logout</a></li>              
            </ul>
            <% }else { %>
              
              <a class="btn btn-outline-info"  href="https://www.alkemy.org/" target="_blank" >Alkemy</a>
              <% } %>
           
          </div>
  
      </div>
    </div>
  </nav>
</header>